{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol">
                <option disabled selected value="">Select symbol</option>
                {% for stock in stocks %}
                <option value="{{ stock.stock_name }}"> {{ stock.stock_name }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="number" min="1" step="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
