.letters_navbar {
  font-family: verdana, serif;
  font-size: 15px;
  color: #000033;
  margin: 10px;
  user-select: none;
}

.letters {
  font-family: verdana, serif;
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
  color: #000033;
  margin: 10px;
}

a.navigation:link, a.navigation:visited {
  background-color: #9999ff;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.navigation:hover, a.navigation:active {
  background-color: #6666ff;
}

footer {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  text-align: right;
  color: #000033;
  margin: 10px;
}

a:link, a:visited {
  color: #222229;
  text-decoration: none;
}

a:hover, a:active {
  color: #656599;
}